/* common */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, div, input, textarea, select, optgroup, option, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, i, th, var, optgroup { font-style: normal; font-weight: 400 }
ol, ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400 }
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit }
input, button, textarea, select {
*font-size:100%; line-height: 1.2 }
input, textarea, select { outline: 0 }
div { color: #000 }
q:before, q:after { content: '' }

body { font:12px/1.5 Tahoma,Helvetica,Arial,'Microsoft YaHei',sans-serif; color: #333 }
a { text-decoration: none; color: #0C76C4 }
a:hover { color: #e63737 }
input::-ms-clear { display:none; }
input:focus { outline: 0 }

/* page */
.clearfix { *zoom:1 }
.clearfix:after { display: block; clear: both; height: 0; line-height: 0; visibility: hidden; content: "" }

    .js_compFchartDemo {
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        background: #ccc;
    }

    .fchart-tabBar {
        position: absolute;
        top: 0;
        left: 0;
        height: 34px;
        line-height: 34px;
        width: 100%;
        margin: 0px;
        padding-left: 28px;
        background: #ddd;
    }

    .fchart-tabBar a {
        float: left;
        position: relative;
        display: block;
        width: 68px;
        text-align: center;
        color: #666;
    }

    .fchart-tabBar .fchart-targetBtn-selected {
        background: #272822;
        color: #ddd;
    }

    .fchart-tabBar-changeBtn {
        position: absolute;
        top: 0;
        right: 20px;
    }

    .fchart-tabBar-changeBtn a {
        display: none;
    }

    .fchart-tabBar-changeBtn .fchart-changeBtn-selected {
        display: block;
        width: 100px;
        background: #272822;
        color: #ddd;
    }

    .fchart-chartview {
        margin-top: 34px;
        height: 450px;
        overflow-x: hidden;
    }

    .fchart-fl2 {
        position: relative;
    }

    .fchart-fl2 > div, .fchart-fl2 > p {
    	display: none;
    }

    .fchart-fl2 h2 span {
    	float: left;
    	cursor: pointer;
    }

    .fchart-attrfloor-help
    , .fchart-attrfloor-forbide
    , .fchart-attrfloor-use {
    	float: left;
    	width: 20px;
    	height: 24px;
    	line-height: 24px;
    	overflow: hidden;
    	margin-left: 10px;
    	font-size: 14px;
    	background: url( img/icon-1.png ) no-repeat;
    }

    .fchart-attrfloor-forbide
    , .fchart-attrfloor-use {
    	text-indent: 20px;
    	width: 90px;
    	white-space: nowrap;
    }

    .fchart-attrfloor-help {
    	position: relative;
    	background-position: 2px -59px;
    }

    .fchart-attrfloor-forbide {
    	background-position: 2px -80px;
    	color: #09C100;
    }

    .fchart-attrfloor-use {
    	background-position: 2px -38px;
    	color: #e63737;
    	display: none;
    }

    .fchart-attrfloor-ignor .fchart-attrfloor-forbide {
    	display: none;
    }

    .fchart-attrfloor-ignor .fchart-attrfloor-use {
    	display: inline;
    }

    .fchart-attrfloor-ctrl {
    	margin-left: 20px;
    	font-size: 14px;
    }

    .fchart-attrfloor-btn {
        position: absolute;
        top: 4px;
        left: -18px;
        width: 18px;
        height: 18px;
        background: #f00;
        background: url( img/icon-1.png ) no-repeat;
    }

    .fchart-attrfloor-open {
    	background-position: 0px 1px;
    }

    .fchart-attrfloor-close {
    	background-position: 0px -20px;
    }

    .js_compFchartDemo h1 {
        font-size: 18px;
    }

    .js_compFchartDemo h2 {
        font-size: 16px;
    }

    .js_compFchartDemo h3 {
        font-size: 14px;
    }

    .fchart-changeview-form {
        height: 100%;
    }

    .fchart-changeview-code {
        overflow: hidden;
    }

    .fchart-changeview-code textarea {
        height: 420px;
        width: 96%;
        margin: 1px;
        padding: 10px;
        border: none;
        font-size: 14px;
        letter-spacing: 0.1px;
        resize:none;
    }

    .js_compFchartDemo dl {
        padding: 5px 10px;
        display: none;
    }

    .fchart-nowSelect div {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .js_compFchartDemo .fchart-nowSelect {
        display: block;
    }

    .fchart-nowSelect textarea {
        display: block;
        width: 90%;
        height: 50px;
        padding: 5px;
        resize:none;
    }

    .js_compFchartDemo label {
        padding-right: 5px;
    }

    .js_compFchartDemo input[type="text"] {
        width: 200px;
    }

    .fchart-remotedata {
        width: 90%;
        background: #aaa;
        padding: 5px;
        margin-bottom: 10px;
    }

    .fchart-dataarray-control {
        line-height: 30px;
        text-align: right;
        width: 90%;
        font-size: 14px;
        color: #46b51d !important;
    }

    .fchart-dataarray-addbtn {

    }

    .fchart-changeview-code {
        display: none;
    }

    div.UTips, div.UTips *{
	    padding: 0px;
	    margin: 0px;
	    font: 14px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
	}

	div.UTips{    
	    position: absolute; 
	    border: 1px solid rgb(255, 204, 0); 
	    padding: 5px; 
	    background-color: rgb(93, 81, 71); 
	    line-height: 22px; 
	    color: white; 
	    z-index: 30000; 
	    display: none;
	    word-wrap: break-word;
	    word-break: break-all;
	    opacity: 0.9; 
	    filters: alpha(opacity=90);
	}

	em.red {
		color: #e63737;
	}

	em.yellow {
		color: #FFBF01;
	}

	em.green {
		color: #A6E22E;
	}

	em.blue {
		color: #66D9EF;
	}